<!--The content below is only a placeholder and can be replaced.-->
<!-- <nz-layout>
  <side-bar></side-bar>
  <nz-layout style="margin-left: 200">
    <nz-header style="background: #fff; padding:0;">hhhh</nz-header>
    <nz-content style="margin:24px 16px 0;overflow: initial">
      <div style="padding: 24px; background: #fff; text-align: center;margin-left:200px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
  <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
</nz-layout> -->
<!-- 全局的数据加载 -->
<div class="load_icon" *ngIf="global.loadStatus"><nz-spin nzTip='Loading...'></nz-spin></div>

<router-outlet></router-outlet>
<!-- <nz-layout>
  <app-default></app-default>
</nz-layout> -->