<div nz-row nzType="flex" nzJustify="center" nzAlign="middle" style="height:100%">
  <div  style="border:1px solid #ccc;width:300px;height:400px;border-radius:5px;padding:10px;margin:auto 0;">
    <h2 style="text-align:center;margin-top:30px">登录</h2>
    <form #loginForm="ngForm" (ngSubmit)="submitLogin($event,loginForm)">
      <nz-form-item nzFlex>
        <nz-form-label nzFor="userName" nzSpan="1-24" nzRequired>用户名</nz-form-label>
        <nz-form-control [nzValidateStatus]="loginForm.controls['userName']">
          <input nz-input type="text" [(ngModel)]="login.userName" required minlength="10" maxlength="16" #userName="ngModel" name="userName" id="userName">
          <nz-form-explain *ngIf="(userName.dirty || userName.touched)">
            <ng-container *ngIf="userName.errors?.required">
              userName i required
            </ng-container>
            <ng-container *ngIf="userName.errors?.minlength || userName.errors?.maxlength">
              长度要在8-16之间
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nzFlex>
        <nz-form-label nzFor="password" nzSpan="1-24" nzRequired>密&nbsp;&nbsp;&nbsp;&nbsp;码</nz-form-label>
        <nz-form-control [nzValidateStatus]="loginForm.controls['password']" nzHasFeedback>
          <input nz-input type="password" [(ngModel)]="login.password" required id="password" #password="ngModel" name="password">
          <nz-form-explain *ngIf="(password.dirty || password.touched) && password.errors?.required"></nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nzFlex="true" nzJustify="center" style="justify-content:center">
        <nz-form-control nzSpan="1-24">
          <button nz-button nzType="primary" [disabled]="loginForm.form.invalid">登录</button>
        </nz-form-control>

      </nz-form-item>
    </form>
  </div>
</div>